.contaner{
    /* max-width: 1440px; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
    height: 60px;

}
button{
    width: 70px;
    height: 65px;
    font-size: 35px;
}
.delete{
    display: none;
}